body {
    padding-top: 60px;
    width: 200px;
    margin: auto;
}

td {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid blue;

}

button {
    color: blue;
    width: 50%;
}


#table {
    background-color: rgba(0, 0, 255, 0.494);
    table-layout: fixed;
    width: 100%;
    
}

.cell {
    background-color: rgb(52, 42, 165);
    text-align: center;
    color: black;

}

.selected {
    color: black;
}
