body {
    padding-top: 60px;
    width: 600px;
    margin: auto;
}

td {
    width: 25px;
    height: 25px;
    /* border-radius: 7px; */
    border: 1px solid blue;
    
}

button {
    color: blue;
}


#table {
    background-color: rgba(0, 0, 255, 0.494);
    /* border-collapse:separate; */
    border-spacing: 2px;
}

.cell {
    background-color: brown;
    text-align: center;
    color: transparent;
}

.selected {
    color: black;
}