body {
    padding-top: 60px;
    width: 200px;
    background: black;
    color: aqua;
    margin: auto;
}

td {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid blue;

}

#container {
    background-color: black;
    text-align: center;
}

#start-button {
    color: blue;
    width: 20%;
    margin-bottom: 10%;
    
}


#table {
    background-color: rgba(0, 0, 255, 0.494);
    table-layout: fixed;
    width: 100%;
    
}

.cell {
    background-color: rgb(52, 42, 165);
    text-align: center;
    color: black;

}

.selected {
    color: black;
}

#flags {
    color: aqua;
}



.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: block;
    margin-bottom: 10%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}